extends ../layout
block content
  .main-page-container
    .container
      .page-header
        .card
          //- - if (errors[0].msg)
          //-   p #{error[0].msg}
          h3 Sign in
          //- change this to function that takes the value
          //- form()
            //- input(type='hidden', name='_csrf', value=_csrf)
          .input-field
            label.col.s3(for='email') Email
            input(type='email', name='email', id='email', autofocus, required)
          .input-field
            label(for='password') Password
            input(type='password', name='password', id='password', required)
          .row
            small#loginError
          .input-field
            //- button.waves-effect.waves-light.btn(type='submit')
            button.waves-effect.waves-light.btn(onclick="(firebaseLogin({email: email.value, password: password.value}) (spinner()))")
              i.material-icons.left person
              | Login
            a.btn-link(style="margin: 0px 10px;" href='/signup') Signup
            a.btn-link(style="color: red" href='/forgot') Forgotten password
          //- .form-group
          //-   .col-sm-offset-3.col-sm-7
          //-     hr
          //- .form-group
          //-   .col-sm-offset-3.col-sm-7
          //-     a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          //-       i.fa.fa-facebook
          //-       | Sign in with Facebook
