extends ../layout
block content
  .main-signup-page
    .container
      .page-signup-container
        .card
          h3 Sign up
          form(id='signup-form', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .row
              .input-field.col.s12
                label(for='name') Full Name
                input(type='text', name='display_name', id='name', autofocus, required)
            .row
              .input-field.col.s6
                label(for='email') Email
                input(type='email', name='email', id='email', required)
              .input-field.col.s6
                  label(for='telephone') Telephone
                  input(type='text', name='telephone', id='telephone', required)
            .row
              .input-field.col.s6
                label(for='password') Password
                input(type='password', name='password', id='password', required)
              .input-field.col.s6
                label(for='confirmPassword') Confirm Password
                input(type='password', name='confirmPassword', id='confirmPassword', required)
            .input-field
              button.waves-effect.waves-light.btn(type='submit')
                i.material-icons.left person
                | Signup
