extends ../layout
block content
	.container
		.dept-list
			h1 #{title}
			ul.collection#dept-container
				each val in data
					li.collection-item.avatar
						-if(val.data().image_url)
							img.circle(src = val.data().image_url, alt='')
						-else
							img.circle(src='/images/deli.jpg', alt='')
							//- i.material-icons.circle folder
						a.title(onclick="spinner()" href="/aisle/"+val.id)
							= val.data().name
						p
							= val.data().group
						a.secondary-content(href='#!')
							i.material-icons(aria-hidden='true' onclick="deleteDept(this.id)" id=val.id) close
			.add-btn
				button.btn.waves-effect.waves-light(onclick="goBack()")
					| back
					i.material-icons.left arrow_back
				//- i.material-icons(onclick="goBack()") arrow_back
				button.btn.btn-primary(onclick="addForm()") Add Department

	.card-container#form-holder
		#card
			.row
				.col.s12.m6
					.card
						.card-content.gray-text
							.closeIcon
								i.material-icons(aria-hidden='true' onclick="removeForm()") close
							.row
								form.col.s12(method="POST", action="/department")
									.row
										.input-field.col.s6#formField
									.row
										.input-field.col.s6
											input#name.validate(type='text' name = 'name')
											label(for='name', data-error='wrong', data-success='right') Department Name
										.input-field.col.s6
											input#group.validate(type='text' name = 'group')
											label(for='group', data-error='wrong', data-success='right') Group
									.row
										.file-field.input-field.col.s6
											.btn
												span Add Image
												input#loadimage(type='file')
											.file-path-wrapper
												#done
													p Done
												.preloader-wrapper.small.active#uploadSpin
													.spinner-layer.spinner-green-only
														.circle-clipper.left
															.circle
														.gap-patch
															.circle
														.circle-clipper.right
															.circle
												input.file-path.validate(hidden="" type='text' name = 'feature_image')
										.input-field.col.s6
											input#code.validate(type='text' name = 'code')
											label(for='code', data-error='wrong', data-success='right') Code

									button.waves-effect.waves-light.btn(type='submit' onclick="showProgress()") Submit Department
						.progress#show-progress
							.indeterminate