extends ../layout
block content
	.container
		.edit-container
			.row
				.col.s12.m6
					.card
						.card-content.gray-text
							.closeIcon
								i.material-icons(aria-hidden='true' onclick="goBack()") arrow_back
							.row
								form.col.s12(method="POST", action="/update_advert")
									#formInput
									//- input#id.validate(hidden type='text' value="params.department_id" name = 'department_id')
									//- input#id.validate(hidden type='text' value="params.aisle_id" name = 'aisle_id')
									.row
										.input-field.col.s12
											input#name.validate(hidden="" type='text' value=id name = 'id')
											input#name.validate(type='text' value=data.name name = 'name')
											label(for='name', data-error='wrong', data-success='right') Name
										.input-field.col.s12
											input#group.validate(type='text' value=data.group name = 'group')
											label(for='group', data-error='wrong', data-success='right') Group
									.row
										//- .input-field.col.s12
										//- 	input#adImage.validate(type='file')
										//- 	p#imageFile
											//- label(for='name', data-error='wrong', data-success='right') Name
										.input-field.col.s12
											input#group.validate(type='text' value=data.tag name = 'tag')
											label(for='group', data-error='wrong', data-success='right') Tag

									button.waves-effect.waves-light.btn(type='submit' onclick="showProgress()") Update Advert
						.progress#show-progress
							.indeterminate