doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - uRGy Shop
    link(rel="shortcut icon", href="/images/favicon.png")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')

  body
    include partials/header

    .container-page
      include partials/flash
      block content
      #pageLoad
        .loader-spinner
          .preloader-wrapper.big.active
            .spinner-layer.spinner-green-only
              .circle-clipper.left
                .circle
              .gap-patch
                .circle
              .circle-clipper.right
                .circle

    //- include partials/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
    //- script(src='/js/lib/jquery-3.1.1.min.js')
    //- script(src='/js/lib/bootstrap.min.js')
    script(src='/js/image-uploader.js')
    script(src="/js/main.js")
    script(src="/js/javascript.js")
    script(src="/js/product-ajax.js")
    script.
      $(document).ready(function() {
        $('select').material_select();
      });
      $('.carousel.carousel-slider').carousel({fullWidth: true});
    script(src='https://www.gstatic.com/firebasejs/4.6.1/firebase.js')
    script.
      // Initialize Firebase
      //- $(document).ready(function(){
      //-   var config = {
      //-   apiKey: "AIzaSyC3PouxaTBLmR1R2YhHKTR9dldzLGhCXwA",
      //-   authDomain: "shop-5e89b.firebaseapp.com",
      //-   databaseURL: "https://shop-5e89b.firebaseio.com",
      //-   projectId: "shop-5e89b",
      //-   storageBucket: "shop-5e89b.appspot.com",
      //-   messagingSenderId: "777977280371"
      //-   };
      //-   firebase.initializeApp(config);
      //- })
          

