.main-page-container{
    background-color: #092d3d;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    padding-top: 150px;
    .page-header{
        width: 500px;
        // height: 311px;
        margin: 0 auto;
        // background-color: #092;
        box-shadow: 1px 1px 5px 5px greenyellow;
        padding: 2px;
        .card{
            margin: 0px;
            padding: 10px;
            background-color: #092d3d; 
            color: #ffffff;
            h3{
                font-size: 2em;
            }
            button{
                background-color: #092d3d !important;
            }
        }

    }
}
.main-signup-page{
    background-color: #092d3d;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    padding-top: 100px;
    .page-signup-container{
        width: 500px;
        // height: 311px;
        margin: 0 auto;
        // background-color: #092;
        box-shadow: 1px 1px 5px 5px #ef9339;
        padding: 2px;
        .card{
            margin: 0px;
            padding: 10px;
            background-color: #092d3d; 
            color: #ffffff;
            h3{
                font-size: 2em;
            }
            button{
                background-color: #092d3d !important;
            }
        }
    }
}

// Forgotten Password Page
.forgot-form-container{
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}