.add-btn{
    text-align: right;
}
.aisle-container{
    width: 600px;
    margin: 0 auto;
}
.card-container{
    // display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 2s;
    transition: background-color 2s;
    z-index: 1;
    #card{
        width: 600px;
        margin: 0 auto;
        margin-top: -100%;
        transition: .4s;
    }
}