// @import "themes/default/variables";

// @import "lib/bootstrap/bootstrap";
// @import "lib/font-awesome/font-awesome";

// @import "themes/default/default";
@import "department";
@import "aisle";
@import "category";
@import "product";
@import "select";
@import "advert";
@import "account";
@import "users";

// Scaffolding
// -------------------------
// Page Load Progress
#pageLoad{
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0, 0.2);
  margin: 0 auto;
  z-index: 100;
  .loader-spinner{
    position: absolute;
    top: 0;
    left: 50%;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20%;
    margin-left: -100px;
  }
}
.add-btn{
  text-align: right;
  margin-top: 20px;
  button{
    margin-left: 10px;
  }
}
.container{
  width: 90% !important;
}
html {
  position: relative;
  min-height: 100%;
  
}
body {
  margin: 0px;
  padding: 0px;

}
.row, .col {
  margin: 0px !important;
  // padding: 0px !important;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: lightgrey;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------
nav{
  margin: 0px;
  background-color: #092d3d !important;
  // height: 40px !important;
  a{color: lightslategrey !important;}
}
// .navbar-nav img {
//   width: 30px;
//   height: 30px;
//   margin: -15px 15px -15px;
// }

// // Alerts
// // -------------------------

// .alert {
//   margin-top: 20px;
// }

// // Thumbnails
// // -------------------------

// .thumbnail {
//   padding: 0;
//   border-radius: 0;
//   box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
// }

// // Font Icons
// // -------------------------

// .fa {
//   margin-right: 6px;
// }
.page-container-home{
  background-color:#092d3d;
  .page-overlay{
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px;
    padding: 0px;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 40px;
    h1{
      margin: 0px;
      padding: 0px;
    }
    .row1-items{
      width: 1100px;
      display: flex;
      -webkit-display: flex;
      flex-wrap: nowrap;
      margin-bottom: 5px;
      .item1, .item2, .item3{
        background-color: #092d3d;
        width: 400px;
        height: 300px;
        margin-bottom: 0px !important;
      }
      .item1{
        margin-right: 5px;
        text-align: center;
        .item1-inner{
          margin: 0 auto;
          margin-top: 50px;
          width: 200px;
          height: 200px;
          border: 5px solid #59859b;
          border-radius: 50%;
          h1{
            font-size: 2em;
            margin-left: 25%;
            color: #59859b;
          }
          p{
            color: #59859b;
          }
          &:hover{
            border: 5px solid greenyellow;
            cursor: pointer;
            h1{
              font-size: 2em;
              margin-left: 25%;
              color: greenyellow;
            }
            p{
              color: greenyellow;
            }
          }
        }
      }
      .item2{
        color: #59859b;
        &:hover{
          table tbody tr{
            color: greenyellow;
          }
        }
      }
      .item3{
        margin-left: 5px;
        .item3-inner{
          color: #59859b;
          width: 200px;
          height: 200px;
          margin: 0 auto;
          margin-top: 50px;
          text-align: center;
          border: 5px solid #59859b;
          border-radius: 50%;
          
          h1{
            font-size: 3em;
            text-align: center;
          }
          p{
            margin-left: 20%;
            font-size: 1.5em;
          }
          &:hover{
            cursor: pointer;
            border-color: greenyellow;
            h1, p {
              color: greenyellow;
            }
          }
        }
      }
    }
    .row2-items{
      width: 1100px;
      display: flex;
      .item1, .item2, .item3, .item4{
        background-color: #092d3d;
        width: 300px;
        height: 250px;
        
      }
      .item1{
        margin-right: 5px; 
      }
      .item2{
      }
      .item3{
        margin-left: 5px; 
      }
      .item4{
        margin-left: 5px;
      }
    }
    .page-content{
      width: 500px;
      margin: 0 auto;
      margin-top: 15%;
      text-align: center;
      h1, p, a {
        text-align: center;
        color: #59859b;
      }
      a i{
        font-size: 2em;
        &:hover{
          cursor: pointer;
          color: greenyellow;
        }
      }
      i{
        color: #59859b;
      }
      #home-arrow{
        margin-top: 0px;
        transition: 1s;
        font-size: 1.5em;
        color: #ffffff;
        &:hover{
          cursor: pointer;
          color: #ef9339;
        }
      }
    }
  }
}