.form-container{
    width: 600px;
    margin: 0 auto;
    h3{
        font-size: 1.7em;
        font-family: 'Dosis', sans-serif;
        // text-decoration:  underline;
        margin-bottom: 30px;
        // transform: translateZ(-45deg); 
    }
    a.btn{ 
        color: #ffffff !important;
    }
}
